.app {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 700px;
    background: #ffffff;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}   

.app > .screen {
    display: none;
}

.app > .screen.active {
    display: block;
    width: 100%;
    height: 100%;
}
