.chat-screen .header {
    background: #111111;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.chat-screen .header .logo {
    font-size: 18px;
    color: #eeeeee;
    font-weight: 500;

}

.chat-screen .header button {
    border: 2px solid #c7c7c7;
    background: transparent;
    width: 80px;
    height: 80%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
}

.chat-screen .messages {
    width: 100%;
    height: calc(100% - 100px);
    background: #f5f5f5;
    overflow: auto;
}

.chat-screen .messages .message {
    display: flex;
    padding: 10px;
}

.chat-screen .messages .message > div {
    max-width: 80%;
    background: #ffffff;
    box-shadow: 0px 0px 20px 5px #0000000d;
    padding: 10px;
}

.chat-screen .messages .message.my-message {
    justify-content: flex-end;
}

.chat-screen .messages .message.other-message {
    justify-content: flex-start;
}

.chat-screen .messages .message .name {
    font-size: 13px;
    color: #555555;
    margin-bottom: 5px;
}

.chat-screen .messages .message .text {
    word-wrap: break-word;
}

.chat-screen .messages .update {
    text-align: center;
    padding: 10px;
    font-style: italic;   
}

.chat-screen .typebox {
    width: 100%;
    height: 50px;
    display: flex;
}

.chat-screen .typebox input {
    flex: 1;
    height: 50px;
    font-size: 18px;
}

.chat-screen .typebox button {
    width: 60px;
    height: 100%;
    background: #111111;
    color: #eeeeee;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    border: 2px solid #282828;
}

#message-input {
    font-weight: 200px;
    font-size: 16px;
    border: 2px solid #ccc;
    outline: none;
  }
  
#message-input:focus {
    outline: none;
    border: 3px solid #ccc;
}
  

input[type="file"] {
    display: none;
}

#select-image {
    width: 60px;
    height: 100%;
    background: #111111;
    color: #eeeeee;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #282828;
}
