#select-image:hover {
    background: #2d2d2d;
}

.chat-screen .typebox button:hover {
    background: #2d2d2d;
}

.screen .form-input button:hover {
    background: #2d2d2d;
}

.chat-screen .header button:hover {
    background: #2d2d2d;
}